.movie-details {
    background-color: #588157;
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Fit most of the width */
    max-width: 1200px; /* Restrict maximum size */
    margin: 20px 0;
    color: #f5f5f5;

    margin-left: -90px;
  }
  
  /* Container for Poster and Information */
  .movie-content {
    display: flex;
    flex-direction: row;
    gap: 20px;

    color: #A3B18A;

     }
  
  /* Movie Poster Styling */
  .movie-poster img {
    width: 200px; /* Set the width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  /* Movie Information Styling */
  .movie-info {
    flex: 1; /* Allow the information to fill the remaining space */
    
  }
  
  .movie-info h2 {
    font-size: 2rem;
    color: #A3B18A;
    margin-bottom: 10px;
  }
  
  .movie-info p {
    margin: 5px 0;
    line-height: 1.6;
    color: #DAD7CD;

  }
  
  .movie-info strong {
    color: #A3B18A;
  }
  